.services,
.latest-deals,
.latest-deals-header {
  width: 90%;
  margin: 0 auto;
}
nav {
  width: 100%;
}
.brandname{
  display: none;
}
.tech,.world,.gear h2{
  text-shadow: 2px 2px 4px #000000;
}
.funding-menu{
margin-left:70%;
}
.services {
  margin-top: -30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 25px;
}
.latest-deals {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto auto;
  grid-gap: 10px;
}
.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}
nav {
  display: grid;
  grid-template-columns:  8fr 1fr 4.5fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "    nav-top     nav-top nav-top"
    " nav-bar searcher search-and-time"
    "   promo      promo  promo";
}

.promo{
  margin-bottom: 0;
}
button{
  border: 0;
  background: #0cc;
  color: white;
  font-weight: 700;
  border-radius:3px;
  text-transform: uppercase;
  cursor: pointer;
  position: absolute;
  margin-top: 8px;
  padding: 5px;
  margin-left: 10px;
  visibility:visible; 
}
button:hover{
  background: rgb(95, 17, 95);
}
.gear {
  grid-area: gear;
  height: 420px;
  margin-top: 1%;
  background-image: url("../images/upper_images/gear.png");
  background-position: center bottom;
}
.tech {
  height: 209.5px;
  grid-area: tech;
  background-image: url("../images/upper_images/tech.png");
  background-position: center;
}
.world {
  height: 209.5px;
  grid-area: world;
  background-image: url("../images/upper_images/world.png");
  background-position: center;
}
.title{
  padding-top: 3%;
  padding-bottom: 0;
}
.latest-news-item {
  width: 100%;
  height:auto;
  margin-top:0;
}

.latest-funding {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto;
  grid-gap: 10px;
  margin-top: 2.5%;
  padding: 2%; 
}
.funded-partners:last-of-type {
  display: block;
}
.m{
  border-right:1px solid #f24;
  margin-left: 3%;
  padding-right: 2.5%;
}

.latest-news {
  width: 94%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
  grid-gap: 10px;
  grid-area: "img        img        img img"  "headline headline headline headline";
}

.latest-news-item {
  width: 100%;
  height: 204px;
  margin-top: 8%;
}

.headline {
  margin-top: 55%;
}