.services,
.latest-deals,
.latest-deals-header {
  width: 90%;
  margin: 0 auto;
}
nav,
header {
  width: 100%;
}

.services {
  margin-top: -30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 25px;
}
.latest-deals {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto auto;
  grid-gap: 10px;
}
.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}
